apiVersion: apps/v1
kind: Deployment
metadata:
  name: fedeployment
  namespace: tmb13fe
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: prashantdey/travelmemory:fe
          ports:
            - containerPort: 3000
          env:
            - name: BACKEND_URL 
              value: "http://localhost:3000"
